@{
    ViewData["Title"] = "Home Page";
}
@model StringCalculatorViewModel

@if(Model.Output == null)
{
    <div class="input-form form-group">
        @using( Html.BeginForm("Index","Home",FormMethod.Post))
        {
            @Html.TextAreaFor(x=>x.Input, new { @class = "form-control"});
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
}else{
    <div class="result">
        @Model.Output
    </div>
}